<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="1.3" targetFramework="net451" />
  <package id="Delay.Web.Helpers" version="1.1.1" targetFramework="net451" />
  <package id="EFMembership-WebMatrix" version="3.1" targetFramework="net451" />
  <package id="EntityFramework" version="6.1.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebHelpers" version="3.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebPages.Data" version="2.0.20710.0" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebPages.WebData" version="3.2.3" targetFramework="net451" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net451" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net451" />
  <package id="Microsoft.Bcl.Compression" version="3.9.85" targetFramework="net451" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net451" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net451" />
  <package id="MySql.Data" version="6.9.6" targetFramework="net451" />
  <package id="MySql.Data.Entities" version="6.8.3.0" targetFramework="net451" />
  <package id="MySql.Data.Entity" version="6.9.6" targetFramework="net451" />
  <package id="MySql.Web" version="6.9.6" targetFramework="net451" />
  <package id="WebMatrix.Data" version="2.0.30506.0" targetFramework="net451" />
  <package id="WebMatrix.Executer" version="1.5.0.0" targetFramework="net451" />
  <package id="WebMatrix.WebData" version="2.0.30506.0" targetFramework="net451" />
  <package id="XAct.Core.PCL" version="0.0.4911.0" targetFramework="net451" />
  <package id="XAct.Diagnostics.Uml" version="0.0.4980.0" targetFramework="net451" />
  <package id="XAct.Diagrams.Uml.PlantUml" version="0.0.4923.0" targetFramework="net451" />
</packages>